*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E0D8CD;
    /*background: #9CA0A7;*/
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estructura de la web */
.content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1.2fr 2fr 2fr 2fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}
/* Els estils de el grid */    
.header { 
    grid-area: 1 / 1 / 2 / 9; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #293742;
    /*background-color: #662424;*/
}

.mainleft { 
    grid-area: 2 / 1 / 6 / 3; 
    display: flex;
    flex-direction: column;
    font-size: 28px;
    color: white;
}

.boton-index{
    width: auto;
    height: 80px;
    /*background-color: #8A8B8F;*/
    background-color: #80A3C8;
    border-bottom: 1px solid #78797c;
    display: flex;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    color: rgb(64,62,61);
}

.maincenter { 
    grid-area: 2 / 3 / 6 / 7; 
    padding: 50px;
    color: rgb(95,90,82);
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
}

.mainright { 
    grid-area: 2 / 7 / 6 / 9; 
    padding: 30px;
    /* background-color: #8A8B8F;*/
    background-color: #80A3C8;
    color: rgb(64,62,61);
}

.footer { 
    grid-area: 6 / 1 / 7 / 9; 
    /*background-color: #777B83;*/
    background-color: #47423A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(216,198,178);
}

/* Estils extra */
h1{
    color: rgb(166, 160, 156);
}

a{
    text-decoration: none;
}

    a:visited{
        color: black;
        text-decoration: none;
    }

    .maincenter h2{
        font-size: 60px;
    }

    .maincenter p{
        font-size: 20px;
    }

    .maincenter ul{
        padding: 20px 0;
    }

    .maincenter li{
        font-size: 20px;
    }

    .logo{
        width: 100%;
        object-fit: contain;
        margin: auto;
    }

    p{
        margin: 30px 0;
        font-size: 21px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
/* Elstils de les imatges */
    .mainright img{
        width: 50%;
        justify-content: center;
        align-items: center;
        float: right;
        flex-wrap: wrap;
        padding: 30px 10px 10px 10px;
    }

    .image-inditex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .image-inditex img{
        width: 220px;
        margin: 20px;
    }
/* Estils del formulari */
    #ex10 {
        max-width: 900px;
        width: 90%;
        margin: auto;
        padding-top: 30px;
    }
    
    .fieldset-ex10 {
        padding: 10px;
    }
    
    .boton-enviar-ex10 {
        display: block;
        width: 100%;
        max-width: 300px; 
        margin: 10px auto;
        padding: 10px 20px;
        border-radius: 8px;
        background-color: #293742;
        font-size: 18px;
        color: rgb(166, 160, 156);
        border: none;
        text-align: center;
    }
    
    .input-ex10 {
        width: 100%; 
        max-width: 870px;
        height: 40px;
        border-radius: 5px;
        background-color: #293742;
        border-bottom: 3px solid #bbb;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 15px;
        color: rgb(166, 160, 156);
    }
    /* Estils per a fer la página responsive adaptant el grid, alguns paddings y width */
    @media screen and (max-width: 600px) {
        #ex10 {
            width: 95%;
            padding-top: 20px;
        }
    
        .input-ex10 {
            font-size: 14px;
            height: 35px;
        }
    
        .boton-enviar-ex10 {
            font-size: 16px;
            padding: 8px 15px;
        }
    }
    
@media screen and (min-width: 600px) and (max-width: 1300px) {
    .content {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 100px auto auto auto auto 100px;
    }
        
    .header { 
        grid-area: 1 / 1 / 2 / 9; 
    }
    
    .mainleft { 
        grid-area: 2 / 1 / 4 / 3; 
    }

    .maincenter { 
        grid-area: 2 / 3 / 4 / 9; 
    }
    
    .mainright { 
        grid-area: 4 / 1 / 6 / 9; 
        height: auto;
    }
    
    .footer { 
        grid-area: 6 / 1 / 7 / 9; 
    }

}
@media screen and (max-width: 599px) {
    .content {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1.2fr auto auto auto auto 1fr;
    }
        
    .header { 
        grid-area: 1 / 1 / 2 / 9; 
    }
    
    .mainleft { 
        grid-area: 2 / 1 / 3 / 9; 
        height: auto;
    }

    .maincenter { 
        grid-area: 3 / 1 / 4 / 9 !important; 
        height: auto; 
        padding: 50px 5px;
    }
    
    .mainright { 
        grid-area: 4 / 1 / 6 / 9; 
        height: auto;
    }
    
    .footer { 
        grid-area: 6 / 1 / 7 / 9; 
    }

    h2{
        font-size: 40px !important;
    }

}

